body {
  background-color: rgb(180, 161, 134);
  color: rgb(41, 41, 41);
  text-align: center;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

/* NAV */
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 10px;
  margin: 0;
  justify-content: center;
  background-color: #9b8268;
}

nav a {
  text-decoration: none;
  color: rgb(62, 54, 47);
  font-weight: bold;
}

nav a:hover {
  color: white;
}

/* TITLE */
.title {
  background-color: #9e8a78;
  padding: 20px;
}

/* GALLERY GRID */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
}

/* GRID ITEMS */
.item {
  background-color: #614c39;
  border-radius: 8px;
  overflow: hidden;
}

/* IMAGES */
.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}