body {
  background-color: rgb(39, 41, 38);   /* grey background */
  color: rgb(172, 219, 172);           /* green text */
  text-align: center;
}

h1 {
  background-color: rgb(71, 108, 81);  /* darker green headers */
  padding: 30px;
  margin-top: 40px;
}

h2, h3 {
  margin: 15px auto;
  width: 80%;
}
