body {
  background-color: rgb(39, 41, 38);   /* grey background */
  color: rgb(172, 219, 172);           /* green text */
  text-align: center;
}

 nav a {
        color: rgb(118, 211, 118);
        font-family: Georgia, serif;
    }
    nav a:hover {
        color: rgb(209, 237, 210)
    }
    li {
    list-style-type: none;
    color: rgb(118, 211, 118);
    display: inline-block;
    font-family: Georigia, serif;  
}

h2, h3 {
  margin: 15px auto;
  width: 80%;
}

.Asylum {
  font-size: 100px;
   background-color: rgb(71, 108, 81);  
  padding: 10px 15px;
  border-radius: 5px;
}
