body {
    background-color:rgb(180, 217, 212);
}

.blog-preview {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 20px; 
  .date {
}
img {
    width: 800px;
}
.post-title {
}
.post-preview {
}
.read-more {
}
}
.blog-text {
 display: flex; 
  flex-direction: column; 
  gap: 10px; /    
}
